<?xml version="1.0"?>

<!-- gztest.launch -->  
<!-- 2019 React Robotics Ltd -->  
<!-- Nic Greenway, nic@reactrobotics.com -->  

<!-- top-level Gazebo launch file for dogbot simulation.
     usage example, with physics paused:
     roslaunch dogbot_gazebo gztest.launch paused:=true
-->  

<launch>

  <arg name="rviz_cfg" default="$(find blind_motion)/blind_rviz.rviz" />

  <env name="GAZEBO_MODEL_PATH" value="$(find blind_motion)/models:$(optenv GAZEBO_MODEL_PATH)" />


  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find dogbot_description)/urdf/dogbot.xacro"/>
  
  <arg name="postgres_log" default="false" />
  <arg name="namespace" default="dogbot" />

  <!-- Use the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find dogbot_gazebo)/worlds/man_world.world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>

  <group ns="$(arg namespace)">
    <include file="$(find dogbot_gazebo)/launch/dog.launch">
      <arg name="postgres_log" value="$(arg postgres_log)" />
      <arg name="model" value="$(arg model)" />
      <arg name="paused" value="$(arg paused)"/>
    </include>
  </group>

  
  <arg name="map_file" default="$(find blind_motion)/maps/map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <arg name="node_start_delay" default="3.0" />  
  <include file="$(find blind_motion)/launch/apf.launch" />
  <node name="set_laser_pose" type="set_laser_pose" pkg="actor_pos_plugin" />
  <node name="blind_scheduler" type="blind_scheduler" pkg="blind_motion" output="screen" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>


  <node pkg="tf2_ros" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 1 odom map" />
  <include file="$(find blind_motion)/launch/move_base.launch" />
	
 
</launch>
