<?xml version="1.0" ?>

<launch>
  <rosparam command="load" file="$(find blind_motion)/conf/config.yaml" />
    
    
	<param name="robot_description_laser" command="$(find xacro)/xacro '$(find gazebo_sensors)/urdf/laser.xacro'" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param /robot_description_laser -model laser" />


  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <remap from="robot_description" to="robot_description_laser" /> 
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <remap from="robot_description" to="robot_description_laser" /> 
  </node>
  
</launch>

