<?xml version="1.0" ?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="burger" default="True"/>

  
  
  <env name="GAZEBO_RESOURCE_PATH" value="$(find blind_motion)/worlds:$(optenv GAZEBO_RESOURCE_PATH)" /> <!--Questa è una variabile d'ambiente in cui si va a cercare tutti i file world. Grazie a questa, puoi non specificare il nome del percorso-->
	<arg name="world" default="claudio.world"/>
	
  <env name="GAZEBO_MODEL_PATH" value="$(find blind_motion)/models:$(optenv GAZEBO_MODEL_PATH)" />
  
	
  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	 <arg name="world_name" value="$(arg world)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>


	<param name="robot_description" command="$(find xacro)/xacro '$(find blind_motion)/urdf/turtlebot3_burger.xacro'" /> 
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model turtlebot3 -param robot_description"/> 
    
    
  
  
  
</launch>
