<?xml version="1.0" ?>

<launch>
  <arg name="odom_topic" default="odom" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find blind_motion)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find blind_motion)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find blind_motion)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find blind_motion)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find blind_motion)/param/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find blind_motion)/param/move_base_params.yaml" command="load" />

  </node>
</launch>
